html {
    scroll-behavior: smooth;
    font-size: medium;
    background-color: #282C34;
    color: #98C379;
    font-family: "Fira Mono", monospace;
}

body {
    margin: 0px;
}

.input {
    margin: 0;
    border: 0;
    border-width: 0;
    width: 77%;
    outline: 0;
    background-color: #282C34;
    font-size: medium;
    color: #98C379;
    margin-bottom: 15px;
    margin-left: 0px;
    padding-left: 0px;
    margin-top: 0px;
    padding-top: 0px;
    font-family: "Fira Mono", monospace;
}

.input:focus {
    outline: none!important;
}

.output {
    white-space: pre-wrap;
}

.console {
    margin: 8px;
}